<% form_for(@student) do |f| %>
  <label for="student_login">Login:</label>
  <%= f.text_field :login %>
  <label for="student_email">Email:</label>  
  <%= f.text_field :email %>  
  <label for="student_password">Password:</label>  
  <%= f.password_field :password %>  
  <label for="student_password_confirmation">Confirm Password:</label>    
  <%= f.password_field :password_confirmation %>  
  <%= f.submit "Signup" %>
<% end %>

